:root {
  --items: 4;
  --items-portfolio: 3;
  --indent: 30px;
  --main-bgc: #2f303a;
  --main-color: #757575;
  --main-color-accent: #212121;
  --main-bgc-comand: #f5f4fa;
  --main-color-hero: #2f303a;
  --main-color-blue: #2196f3;
  --main-color-white: #ffffff;
  --main-color-black: #000000;
  --galary-border: #eeeeee;
}
body {
  background-color: var(--main-color-white);
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
.links {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Logo */
.logo {
  margin-right: 93px;
  color: var(--main-color-blue);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-head {
  color: var(--main-color-black);
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}
.header-info {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.site-nav-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 50px;
  display: block;
  color: var(--main-color-accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-item {
  margin-right: 50px;
}
.site-nav-item:last-child {
  margin-right: 0;
}

.site-nav-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color-accent);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--main-color-blue);
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item {
  margin-right: 50px;
}
.contacts-item:last-child {
  margin-right: 0;
}
.contacts-link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-color-blue);
}
.site-nav-item:hover,
.site-nav-item:focus {
  color: var(--main-color-blue);
}
.site-nav-item .current {
  color: var(--main-color-blue);
}

/* Hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--main-color-hero);
}
.hero-title {
  margin-bottom: 30px;
  color: var(--main-color-white);
  background-color: var(--main-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-bt {
  border: transparent;
  border-radius: 4px;
  background-color: var(--main-color-blue);
  color: var(--main-color-white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Особливості */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature-list-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.feature-title {
  margin-bottom: 10px;
  color: var(--main-color-accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Діяльність */
.section-avtivity {
  padding-bottom: 94px;
  padding-top: 0;
  background-color: var(--main-color-white);
}
.activity-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--main-color-accent);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.activity-list {
  display: flex;
  gap: 30px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* Наша команда */

.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--main-bgc-comand);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-about {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--main-color-white);
}

.team-person {
  margin-bottom: 10px;
  color: var(--main-color-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-title {
  margin-bottom: 50px;
  color: var(--main-color-accent);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bgc);
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  color: var(--main-color-blue);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo-head {
  color: var(--main-color-white);
}
.footer-address {
  margin-bottom: 9px;
  color: var(--main-color-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts:last-child {
  margin-bottom: 0;
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--main-color-blue);
}

/* ПОРТФОЛІО */
.main {
  background-color: var(--main-color-white);
  color: var(--main-color);
}

/* Main */

.main-list {
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.main-list-work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-list-item {
  border: transparent;
  border-radius: 4px;
  color: var(--main-color-accent);
  background-color: var(--main-bgc-comand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.main-list-item:hover,
.main-list-item:focus {
  border-radius: 4px;
  background-color: var(--main-color-blue);
  color: var(--main-color-white);
}
.galery {
  flex-basis: calc((100% - var(--indent) * (var(--items-portfolio) - 1)) / var(--items));
  background-color: var(--main-color-white);
  color: var(--main-color-accent);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.galary-border {
  padding: 20px 24px;
  border-left: 1px solid var(--galary-border);
  border-right: 1px solid var(--galary-border);
  border-bottom: 1px solid var(--galary-border);
}

.galery-title {
  margin-bottom: 4px;
  text-align: left;
  color: var(--main-color-accent);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.galary-text {
  text-align: left;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.88;
}
